.slideShow{
	margin-top :50px;
/* 	text-align: center;
	width : 100%;
	height : 465px;
 	border : 1px solid black; 
	background-repeat: no-repeat;
	background-position: center; */
 
	
 	/* background: rgb(0,0,0); */
	height: 465px;
	overflow: hidden;	/* 이미지의 최상위 박스에 적용 */
	position: relative; 
}
.slideShow .slideShow-slides{
	height: 100%;
	position: absolute;
	width :100%;
}
.slideShow-slides .slide{
	height: 100%;
	overflow: hidden;
	position: absolute;
	width : 100%;
}
.slideShow-slides .slide img{
	left : 50%;
	margin-left: -800px;
	position: absolute;
}
.slideShow-nav a,
.slideShow-indicator a{
	overflow: hidden;
}
.slideShow-nav a:before,
.slideShow-indicator a:before{
	content: url(/resources/images/sprites.png);
	display: inline-block;
}
.slideShow-nav a{
	position: absolute;
	top : 50%;
	left : 50%;
	width :72px;
	height: 72px;
	margin-top: -36px;
}
.slideShow-nav a.prev{
	margin-left: -480px;
}
.slideShow-nav a.prev:before{
	margin-top: -20px;
}
.slideShow-nav a.next{
	margin-left: 320px;
}
.slideShow-nav a.next:before{
	margin-top: -20px;
	margin-left: -80px
}
.slideShow-nav a.disable{
	display: none;
}
.slideShow-indicator{
	bottom: 30px;
	height: 16px;
	position: absolute;
	right: 0;
	left :0;
	text-align: center;
}
.slideShow-indicator a{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-right: 5px; 
}
.slideShow-indicator a:before{
	margin-left: -110px;
}
.slideShow-indicator a.active{
	cursor: default;
}
.slideShow-indicator a.active:before{
	margin-left: -130px; 	
}