<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inventoryNS">

<select id="getAll" resultType="inventoryVO" >
 	select * from inventory
 </select>
 
 <select id="getOne" parameterType="long" resultType="inventoryVO">
 	select * from inventory where prodId=#{prodId}
 </select>
 
 <insert id="addOne" parameterType="inventoryVO">
 	insert into inventory values(#{prodId}, #{sizeS},#{sizeM},#{sizeL}) 
 </insert>
 
 <delete id="delOne" parameterType="long">
		delete from inventory where prodId=#{prodId}
</delete>
</mapper>
