<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.mall4Us.ReviewDao">

	<select id="getAllReview" resultType="ReviewVO">
		select * from review
	</select>

	<select id="getReviewByProdId" parameterType="long" resultType="ReviewVO">
		select * from review where prodId=#{prodId}
	</select>

	<select id="getReviewByMemId" parameterType="string" resultType="ReviewVO">
		select * from review where memId=#{memId}
	</select>

	<insert id="addReview" parameterType="ReviewVO" >
		insert into review
			values(#{memId}, #{prodId}, #{contents}, #{rating}, sysdate, #{photo} )
	</insert>

	<delete id="delReviewByMemId" parameterType="string">
		delete from review where memId=#{memId}
	</delete>

</mapper> 
